<?xml version="1.0"?>
<robot name="mecanum_bot">

  <!-- Màu -->
  <material name="white">
    <color rgba="1 1 1 1"/>
  </material>

  <material name="blue">
    <color rgba="0.2 0.2 1 1"/>
  </material>

  <material name="red">
  <color rgba="1 0 0 1"/>
  </material>

  <material name="black">
  <color rgba="0 0 0 1"/>
  </material>

  <material name="green">
  <color rgba="0 1 0 1"/>
  </material>

  <!-- Base -->
  <link name="base_link"/>

  <!-- Chassis -->
  <link name="chassis">
    <visual>
      <origin xyz="0 0 0.05"/>
      <geometry>
        <box size="0.26 0.15 0.1"/>
      </geometry>
      <material name="white"/>
    </visual>
  </link>
  <joint name="chassis_joint" type="fixed">
    <parent link="base_link"/>
    <child link="chassis"/>
    <origin xyz="0 0 0"/>
  </joint>

  <!-- Bánh trước trái -->
  <link name="front_left_wheel">
    <visual>
      <geometry>
        <cylinder radius="0.03" length="0.03"/>
      </geometry>
      <material name="blue"/>
    </visual>
  </link>
  <joint name="front_left_wheel_joint" type="fixed">
    <parent link="base_link"/>
    <child link="front_left_wheel"/>
    <origin xyz="0.07 0.09 0" rpy="-1.5708 0 0"/>
    <axis xyz="0 0 1"/>
  </joint>

  <!-- Bánh trước phải -->
  <link name="front_right_wheel">
    <visual>
      <geometry>
        <cylinder radius="0.03" length="0.03"/>
      </geometry>
      <material name="blue"/>
    </visual>
  </link>
  <joint name="front_right_wheel_joint" type="fixed">
    <parent link="base_link"/>
    <child link="front_right_wheel"/>
    <origin xyz="0.07 -0.09 0" rpy="1.5708 0 0"/>
    <axis xyz="0 0 1"/>
  </joint>

  <!-- Bánh sau trái -->
  <link name="rear_left_wheel">
    <visual>
      <geometry>
        <cylinder radius="0.03" length="0.03"/>
      </geometry>
      <material name="blue"/>
    </visual>
  </link>
  <joint name="rear_left_wheel_joint" type="fixed">
    <parent link="base_link"/>
    <child link="rear_left_wheel"/>
    <origin xyz="-0.07 0.09 0" rpy="-1.5708 0 0"/>
    <axis xyz="0 0 1"/>
  </joint>

  <!-- Bánh sau phải -->
  <link name="rear_right_wheel">
    <visual>
      <geometry>
        <cylinder radius="0.03" length="0.03"/>
      </geometry>
      <material name="blue"/>
    </visual>
  </link>
  <joint name="rear_right_wheel_joint" type="fixed">
    <parent link="base_link"/>
    <child link="rear_right_wheel"/>
    <origin xyz="-0.07 -0.09 0" rpy="1.5708 0 0"/>
    <axis xyz="0 0 1"/>
  </joint>


    <!-- Cảm biến Lidar -->
    <joint name="laser_joint" type="fixed">
        <parent link="base_link"/>
        <child link="laser_frame"/>
        <origin xyz="0.07 0 0.11" rpy="0 0 0"/>
    </joint>

    <link name="laser_frame">
        <visual>
            <geometry>
                <cylinder radius="0.04" length="0.04"/>
            </geometry>
            <material name="red"/>
        </visual>
        <collision>
            <geometry>
                <cylinder radius="0.04" length="0.04"/>
            </geometry>
        </collision>
    </link>

    <!-- Cảm biến IMU -->
    <joint name="imu_joint" type="fixed">
        <parent link="chassis"/>
        <child link="imu"/>
        <origin xyz="0 0 0.1" rpy="0 0 0"/>
    </joint>

    <link name="imu">
        <visual>
            <geometry>

                <box size="0.03 0.03 0.03"/>    
            </geometry>
            <material name="black"/>
        </visual>
        <collision>
            <geometry>
                <box size="0.03 0.03 0.03"/>
            </geometry>
        </collision>
    </link>

        <!-- Raspberry Pi4 ModuleB 4GB -->
    <joint name="Pi_joint" type="fixed">
        <parent link="chassis"/>
        <child link="Pi"/>
        <origin xyz="-0.06 0 0.1" rpy="0 0 0"/>
    </joint>

    <link name="Pi">
        <visual>
            <geometry>
                <box size="0.05 0.09 0.03"/>    
            </geometry>
            <material name="green"/>
        </visual>
        <collision>
            <geometry>
                <box size="0.05 0.09 0.03"/>
            </geometry>
        </collision>
    </link>
</robot>